<div class="container p-5">
  <div class="d-flex flex-column align-items-center w-100">
    <span class="fs-1 pb-5">Bem vindo(a) ao teste de API do Rick e Morty!</span>
    <span class="fs-3">Digite seu nome e escolha sua imagem de perfil para iniciar</span>

    <div class="mt-5">
      <form [formGroup]="form">
        <div class="d-flex flex-column gap-5">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <div class="image-divs">
            <ng-container *ngFor="let image of loginImages; let i = index">
              <div class="img-container" (click)="handleImage(image.value, i)">
                <img
                  [src]="image.value"
                  [ngClass]="{ selected: image.selected }"
                  class="login-image"
                />
              </div>
            </ng-container>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="p-5"
            [disabled]="!form.valid"
            (click)="send($event)"
          >
            Logar!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
