<div
  class="container d-flex w-100 justify-content-center align-items-center flex-column gap-3 mt-3"
>
  <span class="fs-1 d-flex align-items-center gap-2 mt-5"> Favoritos </span>

  <div class="d-flex gap-3 justify-content-center w-100 main mb-5">
    <mat-card class="col-sm-3 text-center p-2 card">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="title">Localizações</h1>
        <mat-icon class="h-10" (click)="redirectTo('localizacoes')"
          >add_circle_outline</mat-icon
        >
      </div>
      <div class="card-line"></div>
      <div class="scroll">
        <ng-container>
          <span style="color: white" *ngIf="errorLocation"
            >Não foram encontradas localizações favoritos!</span
          >
        </ng-container>
        <ng-container *ngIf="!errorLocation">
          <ng-container *ngFor="let location of locations">
            <mat-card
              class="col-4 col-sm-4 p-5 col-md-5 w-100 col-sm characters-card mb-3"
            >
              <div class="d-flex w-100">
                <div class="d-flex justify-content-around w-100">
                  <div class="d-flex flex-column gap-3">
                    <span class="fs-3">{{ location?.name }}</span>
                    <div class="d-flex flex-column gap-1">
                      <span style="color: darkgray">Dimensão:</span>
                      <span>{{ location?.dimension }}</span>
                    </div>
                    <div class="d-flex flex-column gap-1">
                      <span style="color: darkgray">Tipo:</span>
                      <span>{{ location?.type | typePipe }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </ng-container>
        </ng-container>
      </div>
      <div></div>
    </mat-card>
    <mat-card class="col-sm-5 text-center p-2 card">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="title">Personagens</h1>
        <mat-icon class="h-10" (click)="redirectTo('personagens')"
          >add_circle_outline</mat-icon
        >
      </div>
      <div class="card-line"></div>
      <div class="scroll">
        <ng-container *ngIf="errorCharacter">
          <span style="color: white"
            >Não foram encontrados personagens favoritos!</span
          >
        </ng-container>
        <ng-container *ngIf="!errorCharacter">
          <ng-container *ngFor="let character of characters">
            <mat-card
              class="col-4 col-sm-4 col-md-5 w-100 col-sm characters-card mb-3"
            >
              <div class="d-flex w-100">
                <img class="image w-50 h-50" [src]="character.image" />
                <div class="d-flex justify-content-between w-100">
                  <div class="d-flex flex-column gap-4 pt-3 column">
                    <span class="fs-3">{{ character?.name }}</span>
                    <div class="d-flex align-items-center gap-2">
                      <div
                        class="status rounded-circle"
                        [ngClass]="getStatus(character?.status)"
                      ></div>
                      <span class="subtitle"
                        >{{ character?.status | statusPipe}} - {{ character?.species | speciePipe}}</span
                      >
                    </div>
                    <div class="d-flex flex-column" style="text-align: left">
                      <span style="color: darkgray">Residente de: </span>
                      <span> {{ character?.location?.name }} </span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </ng-container>
        </ng-container>
      </div>
      <div></div>
    </mat-card>

    <mat-card class="col-sm-3 text-center p-2 card">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="title">Episódios</h1>
        <mat-icon class="h-10" (click)="redirectTo('episodios')"
          >add_circle_outline</mat-icon
        >
      </div>
      <div class="card-line"></div>
      <div class="scroll">
        <ng-container *ngIf="errorEpisode">
          <span style="color: white">
            Não foram encontrados episódios favoritos!
          </span>
        </ng-container>
        <ng-container *ngIf="!errorEpisode">
          <ng-container *ngFor="let episode of episodes">
            <mat-card
              class="col-4 col-sm-4 p-5 col-md-5 w-100 col-sm characters-card mb-3"
            >
              <div class="d-flex w-100">
                <div class="d-flex justify-content-around w-100">
                  <div class="d-flex flex-column gap-3">
                    <span class="fs-3">{{ episode?.name }}</span>
                    <div class="d-flex flex-column gap-1">
                      <span style="color: darkgray">Temporada:</span>
                      <span>{{ episode?.episode }}</span>
                    </div>
                    <div class="d-flex flex-column gap-1">
                      <span style="color: darkgray">Data:</span>
                      <span>{{ episode?.air_date | date : "dd/MM/yy" }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </ng-container>
        </ng-container>
      </div>
      <div></div>
    </mat-card>
  </div>
</div>
