<div
  class="container d-flex align-items-center mt-4 justify-content-center flex-column"
>
  <button mat-raised-button color="warn" (click)="redirectTo()">Voltar</button>
  <mat-card class="w-100 h-50 m-5 p-5">
    <div class="d-flex justify-content-between">
      <div class="d-flex gap-5 flex-column">
        <span class="fs-1">{{ location?.name }}</span>
        <div class="d-flex align-items-baseline gap-2">
          <span class="fs-4">Criado em:</span>
          <span class="subtitle">{{
            location.created | date : "dd/MM/yy"
          }}</span>
        </div>
        <div class="d-flex align-items-baseline gap-2">
          <span class="fs-4">Dimensão:</span>
          <span class="subtitle">{{
            location.dimension | date : "dd/MM/yy"
          }}</span>
        </div>
        <div class="d-flex align-items-baseline gap-2">
          <span class="fs-4">Tipo:</span>
          <span class="subtitle">{{ location.type }}</span>
        </div>
      </div>
    </div>
    <mat-accordion class="accordion w-100">
      <mat-expansion-panel class="expansion-panel" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title class="additionals-title">
            Personagens que moram aqui:
          </mat-panel-title>
          <mat-panel-description>
            {{ characters?.length }} personagens!
          </mat-panel-description>
          <hr />
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-around flex-column gap-3">
          <ng-container *ngFor="let character of characters">
            <mat-card
              class="col-4 col-sm-4 col-md-5 p-0 h-25 col-sm w-100 characters-card"
            >
              <div class="d-flex w-100">
                <img class="image" [src]="character.image" />
                <div class="d-flex justify-content-between w-100">
                  <div class="d-flex flex-column gap-4 pt-3">
                    <span class="fs-3">{{ character.name }}</span>
                    <div class="d-flex align-items-center gap-2">
                      <div
                        class="status rounded-circle"
                        [ngClass]="getStatus(character.status)"
                      ></div>
                      <span class="subtitle"
                        >{{ character.status }} - {{ character.species }}</span
                      >
                    </div>
                    <div class="d-flex flex-column">
                      <span style="color: darkgray"> Residente de: </span>
                      <span> {{ character?.location?.name }} </span>
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-between p-2">
                    <mat-icon
                      style="color: white"
                      (click)="redirectToCharacter(character.id)"
                      class="mr-20"
                      >add_circle_outline</mat-icon
                    >
                  </div>
                </div>
              </div>
            </mat-card>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
