<div class="" style="position: relative">
  <app-toolbar *ngIf="isListPage" class="toolbar"></app-toolbar>

  <mat-sidenav-container class="drawer-container">
    <mat-sidenav #sidenav [autoFocus]="false" opened="false" mode="over">
      <div class="d-flex title">
        <span class="fs-4 p-4 pb-0 titulo">Rick & Morty API</span>
        <div style="height: 1px; background-color: white"></div>
      </div>
      <hr />
      <mat-nav-list class="margin-list">
        <mat-list-item class="mat-list-item" (click)="redirectTo('usuario')">
          <mat-icon>person</mat-icon>
          <span>Página do usuário</span>
        </mat-list-item>
        <mat-list-item (click)="redirectTo('')" class="mat-list-item">
          <mat-icon>home</mat-icon>
          <span>Pagina Inicial</span>
        </mat-list-item>
        <mat-list-item class="mat-list-item" (click)="redirectTo('filtrar')">
          <mat-icon>person</mat-icon>
          <span>Listagem Simplificada</span>
          <mat-nav-list></mat-nav-list>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item"
          (click)="redirectTo('personagens')"
        >
          <span>Personagens</span>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item"
          (click)="redirectTo('localizacoes')"
        >
          <mat-icon>location_on</mat-icon>
          <span>Locais</span>
        </mat-list-item>
        <mat-list-item class="mat-list-item" (click)="redirectTo('episodios')">
          <mat-icon>book</mat-icon>
          <span>Episódios</span>
        </mat-list-item>
        <mat-list-item class="mat-list-item" (click)="redirectTo('quiz')">
          <mat-icon>search</mat-icon>
          <span>Quiz</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <button mat-stroked-button class="toggle-button" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
