.card {
  max-height: 450px;
}

.scroll {
  overflow-y: auto;
  padding-right: 0.5rem;
}

.column {
  align-items: start;
}

@media (max-width: 690px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
