<mat-toolbar
  
  class="text-center d-flex align-items-center"
>
<form [formGroup]="form">
  <div class="fs-3 d-flex align-items-center gap-3 mt-5 w-100">
    <span class="fs-6">Filtro global</span>
      <mat-form-field appearance="outline">
        <mat-select
          label="Selecione"
          class="select w-100"
          placeholder="Filtro"
          formControlName="query"
          appearance="outline"
        >
          <mat-option *ngFor="let param of filterParams" [value]="param.value">
            {{ param.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="value"
          class="fs-5"
          #input
          placeholder="Digite aqui um nome"
        />
      </mat-form-field>
      <button class="p-4 mb-4" mat-stroked-button color="primary" (click)="input.value = null">
        Limpar
      </button>
    </div>
  </form>
</mat-toolbar>
