::ng-deep mat-select {
  height: 20px !important;
}

.image {
  width: 20%;
  height: 20%;
}

::ng-deep .mat-drawer-inner-container {
  height: 100vh;
  overflow: hidden !important;
}

::placeholder {
  font-size: 1rem;
}
