::ng-deep mat-select {
  height: 20px !important;
}
.toolbar {
  position: relative;
  top: 0;
  left: 50%;
  width: 50%;

}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 3rem;
  border: none;
  
}

mat-toolbar {
  background-color: transparent !important;
}


.image {
  width: 20%;
  height: 20%;
}

::ng-deep .mat-drawer-inner-container {
  height: 100vh;
  overflow: hidden !important;
}

::placeholder {
  font-size: 1rem;
}

.margin-list {
  margin: 0 1rem 0 0;
}

mat-list-item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-button {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

::ng-deep .mat-select-content {
  width: 2000px;
  background-color: red;
  font-size: 10px;
}
