.image {
    height: 40%;
    width: 40%;
    margin-right: 20px;
    border-radius: 2px;
}

.card-div {
    margin-bottom: 20px;
    gap: 20px;
}

.characters-card {
    padding: 5px 5px 0 5px;
}

.subtitle {
    font-size: 15px;
}