<div class="container quiz">
  <div class="d-flex mt-5 justify-content-center">
    <span class="fs-1 p-5">Quiz</span>
  </div>
  <ng-container *ngIf="!resultPage" class="quiz">
    <ng-container *ngFor="let question of questions; let i = index">
      <div class="d-flex flex-column gap-3 m-5 text-center">
        <div class="d-flex gap-3">
          <span class="fs-4 pl-3">{{ i + 1 }})</span
          ><span class="fs-5">{{ question.question }}</span>
        </div>
        <div class="d-flex justify-content-center">
          <mat-button-toggle-group style="width: fit-content">
            <ng-container *ngFor="let option of question?.options">
              <mat-button-toggle
                [value]="option"
                (click)="changeAnswers(option, question?.id)"
              >
                {{ option }}
              </mat-button-toggle>
            </ng-container>
          </mat-button-toggle-group>
        </div>
      </div>
      <hr />
    </ng-container>
    <div class="d-flex justify-content-center">
      <button
        mat-raised-button
        color="primary"
        class="p-5 mb-5"
        (click)="checkResult()"
      >
        Enviar!
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="resultPage">
    <div
      style="height: inherit"
      class="d-flex flex-column pt-5 justify-content-center align-items-center gap-3"
    >
      <span class="fs-2">Você acertou {{ count }} questões, parabéns!</span>
      <img
        src="https://rickandmortyapi.com/api/character/avatar/24.jpeg"
        class="rounded-circle"
      />
      <div class="d-flex gap-3">
        <button
          mat-raised-button
          color="primary"
          (click)="resultPage = !resultPage; count = 0"
        >
          Tentar Novamente!
        </button>
        <button mat-raised-button color="warn" (click)="redirectTo('')">
          Voltar
        </button>
      </div>
    </div>
  </ng-container>
</div>
