<div class="container">
  <div
    class="w-100 d-flex flex-column align-items-center"
    style="margin-top: 6rem"
  >
    <span class="fs-2 p-3">Episódios</span>

    <div class="d-flex gap-5">
      <mat-button-toggle-group
        style="width: fit-content"
        (change)="setMode($event)"
        value="card"
      >
        <mat-button-toggle value="table"> Tabela </mat-button-toggle>
        <mat-button-toggle value="card"> Cards </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group
        value="Todos"
        style="width: fit-content"
        (change)="setList($event)"
      >
        <mat-button-toggle value="Favoritos"> Favoritos </mat-button-toggle>
        <mat-button-toggle value="Todos"> Todos </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <form
    class="example-section"
    [formGroup]="form"
    class="w-50"
    style="margin: 2rem auto"
  >
    <div class="d-flex flex-column align-items-start">
      <div class="form-field">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input appaerance="outline" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Temporada</mat-label>
          <mat-select appaerance="outline" formControlName="episode">
            <mat-option [value]="null">Limpar</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4 </mat-option>
            <mat-option value="5">4 </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="p3"
          [disabled]="!form.valid"
          (click)="filterByForm()"
        >
          Filtrar!
        </button>
      </div>
      <div class="d-flex gap-3 justify-content-center" style="margin: 0 auto">
        <button color="warn" mat-raised-button (click)="back()">Voltar</button>
        <button mat-stroked-button (click)="reset()">Limpar filtros</button>
      </div>
    </div>
  </form>
  <div
    class="row d-flex align-items-center justify-content-center card-div main"
  >
    <ng-container
      *ngIf="favoritedsIds.length === 0 && listToDisplay === 'Favoritos'"
    >
      Você não favoritou nenhum episódio!
    </ng-container>
    <ng-container *ngIf="modeToDisplay === 'table'">
      <mat-table
        [dataSource]="listToDisplay === 'Todos' ? dataSource : favoritedEps"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            {{ "Nome" }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row?.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="temp">
          <th mat-header-cell *matHeaderCellDef>
            {{ "Temporada" }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="d-flex gap-1 align-items-center">
              {{ row?.episode }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="airdate">
          <th mat-header-cell *matHeaderCellDef>
            {{ "Data" }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row?.air_date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="favorited">
          <th mat-header-cell *matHeaderCellDef>
            {{ "Favoritar" }}
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-icon
              (click)="favorited(row?.id)"
              *ngIf="!favoritedsIds.includes(row?.id)"
              >star_border</mat-icon
            >
            <mat-icon
              class="rounded-circle p-12"
              style="color: yellow"
              (click)="unfavorited(row?.id)"
              *ngIf="favoritedsIds.includes(row?.id)"
              >star</mat-icon
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="redirect">
          <th mat-header-cell *matHeaderCellDef>
            {{ "Redirecionar" }}
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-icon
              style="color: white"
              (click)="redirectToEpisode(row?.id)"
              class="mr-20"
              >add_circle_outline</mat-icon
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </mat-table>
    </ng-container>
    <ng-container *ngIf="modeToDisplay === 'card'">
      <ng-container
        *ngFor="
          let episode of listToDisplay === 'Todos' ? episodes : favoritedEps
        "
      >
        <mat-card class="col-4 col-sm-4 col-md-5 p-0 h-25 col-sm episodes-card">
          <div class="d-flex w-100">
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex flex-column gap-3 column">
                <span class="fs-3">{{ episode?.name }}</span>
                <div class="d-flex flex-column justify-content-start gap-2">
                  <div class="d-flex flex-column gap-1">
                    <span style="color: darkgray">Temporada:</span>
                    <span>{{ episode?.episode }}</span>
                  </div>
                  <div class="d-flex flex-column gap-1">
                    <span style="color: darkgray">Data:</span>
                    <span>{{ episode?.air_date | date : "dd/MM/yy" }}</span>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-between p-2">
                <mat-icon
                  style="color: white"
                  (click)="redirectToEpisode(episode?.id)"
                  class="mr-20"
                  >add_circle_outline</mat-icon
                >
                <mat-icon
                  (click)="favorited(episode.id)"
                  *ngIf="!favoritedsIds.includes(episode?.id)"
                  >star_border</mat-icon
                >
                <mat-icon
                  class="rounded-circle p-12"
                  style="color: yellow"
                  (click)="unfavorited(episode.id)"
                  *ngIf="favoritedsIds.includes(episode?.id)"
                  >star</mat-icon
                >
              </div>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>

  <ng-container *ngIf="error" class="">
    <div class="text-center w-100">
      <span>Não foi encontrado nenhum episódio com essas características!</span>
    </div>
  </ng-container>
</div>
