.toolbar {
  position: relative;
  top: 0;
  left: 30%;
  width: 50%;
}

.main {
  z-index: 99999999;
}


.mat-toolbar {
  background-color: transparent !important;
}


.image {
  width: 20%;
  height: 20%;
}

::placeholder {
  font-size: 1rem;
}

.margin-list {
  margin: 0 1rem 0 0;
}

.form {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 5rem;
  width: 100%;
  font-size: large;
}

@media (max-width: 764px) {
  .form {
    display: flex;
    flex-direction: column;
    left: -140px;
    gap: 0.3rem;
    position: absolute;
  }

}